{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="description" content="Web Blog - Based on Python Django Framework">
    <meta name="keywords"
          content="Html, Html5, Css, Css3, Bootstrap, Bootstrap4, Jquery, Javascript, Website Development, Web desing, Responsive Website, Python, Django">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title %}
        <title>Web Blog - {{ title }}</title>
    {% else %}
        <title>Web Blog</title>
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <link rel="shortcut icon" href="{% static 'blog/img/favicon-16x16.png' %}" sizes="16x16">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baumans" rel="stylesheet">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- animate CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="{% static 'blog/css/magnific-popup.css' %}">

    <!-- owlcarousel core CSS file -->
    <link rel="stylesheet" href="{% static 'blog/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/owl.theme.default.css' %}">

    <!-- Base Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">

    <!-- Responsive Style CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/responsive.css' %}">
</head>
<body>
<!-- Header Section -->
<header>
    <nav id="techarts-nav" class="navbar navbar-expand-lg navbar-dark techarts-dark fixed-top">
        <div id="techarts-wrapper" class="container-fluid">
            <div id="techarts-nav-brand">
                <a class="navbar-brand smooth-scroll" href="{% url 'blog-home' %}"><span id="techarts-logo-sym">tech arts</span></a>
            </div>
            <div id="techarts-nav-menu" class="text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"
                        aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="{% url 'blog-home' %}" class="nav-link smooth-scroll">Home</a></li>
                        <li class="nav-item"><a href="{% url 'blog-about' %}" class="nav-link smooth-scroll">About</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item"><a href="{% url 'profile' %}" class="nav-link smooth-scroll">Profile</a></li>
                            <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link smooth-scroll">Logout</a></li>
                        {% else %}
                            <li class="nav-item"><a href="{% url 'login' %}" class="nav-link smooth-scroll">Login</a></li>
                            <li class="nav-item"><a href="{% url 'register' %}" class="nav-link smooth-scroll">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% block content %}{% endblock content %}

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

<!-- bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<!-- Wow JS -->
<script src="{% static 'blog/js/wow.min.js' %}"></script>

<!-- Magnific Popup core JS file -->
<script src="{% static 'blog/js/jquery.magnific-popup.min.js' %}"></script>

<!-- owlcarousel core JS file -->
<script src="{% static 'blog/js/owl.carousel.min.js' %}"></script>

<script type="text/javascript" src="{% static 'blog/js/base.js' %}"></script>
</body>
</html>